/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Lato:700);

$navcolor :#ADD8E6;


.nav-logo {
  background-image: url(hi_lee_195x45.png);
  width: 195px;
  height: 45px;
  background-size: cover;
}

.navbar {
  // height: 70px !important;
  background-color: $navcolor;
}

.navbar-brand {
  width: 195px;
}

// styles comment modal box
#comment_comment_text {
  width: 100%;
}

.navbar-btn {
  float: right;
}

.jumbotron {
  background: url(background.jpg) 50% 0 fixed; 
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
    }
#post_post_text {
  height: 300px !important;
}

#comment_comment_text {
  height: 75px !important;
}

.footer {
  background-color: $navcolor;
  padding-top: 5px;
}

.title {
  font-family: 'Lato', sans-serif;
}