/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Lato:700);

$navcolor :#ADD8E6;

body {
  height: 100%;
  padding-bottom: 10px;
}

// top of index page
#intro { 
  background: url(pixel_bg.png) 50% 0 fixed; 
  height: 220px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  // padding: 100px 0;
}

// middle section of index page
#home { 
  background: url(background.jpg) 50% 0 fixed; 
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
}

// blog content of index page
#content {  
  height: auto;
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color: #333333;
}

.nav-logo {
  background-image: url(hi_lee_195x45.png);
  width: 195px;
  height: 45px;
  background-size: cover;
}

.navbar {
  background-color: $navcolor;
}

.navbar-brand {
  width: 195px;
}

// styles comment modal box
#comment_comment_text {
  width: 100%;
}

#post_post_text {
  height: 300px !important;
}

#comment_comment_text {
  height: 75px !important;
}

.navbar-bottom {
  background-color: $navcolor !important;
  width: 100% !important;
  height: 70px !important;
  position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;
  padding-bottom: 0px !important;
}

.title {
  font-family: 'Lato', sans-serif;
}
